{% extends 'base.html' %}

{% block title %}Home{% endblock %}
{% block content %}
<form method="POST" class="post-form" action="/new">
    {% csrf_token %}
    <div class="container">
        <br>
        <div class="form-group row">
            <label class="col-sm-1 col-form-label"></label>
            <div class="col-sm-4">
                <h3>Enter Details of Movie</h3>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Movie Name:</label>
            <div class="col-sm-4">
                {{ form.name }}
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Movie popularity:</label>
            <div class="col-sm-4">
                {{ form.popularity }}
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Movie Director:</label>
            <div class="col-sm-4">
                {{ form.director }}
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Movie imdb_score:</label>
            <div class="col-sm-4">
                {{ form.imdb_score }}
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Genre:</label>
            <div class="col-sm-4">
                {{ form.genre }}
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-1 col-form-label"></label>
            <div class="col-sm-4">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</form>
{% endblock %}

