{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if request.user.is_staff %}
  Hi {{ user.username }}! <div class="logout"> <a href="{% url 'logout' %}" >Log Out</a></p></div>
    <a href="{% url 'movie_create' %} " class="btn btn-primary">Add new movie</a>

        <body>
{% load static %}
<!--        carousel indicators starts from here-->

    <div class="container">
        <div id="demo" class="carousel slide my-3" data-ride="carousel">
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1" ></li>
      <li data-target="#demo" data-slide-to="2" ></li>
    </ul>

          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="row">

                {% for i in movie %}
                <div class="col-xs-3 col-sm-3 col-md-3">
                  <div class="card" style="width: 18rem;">
                    <img src='{% static "img/test1.jpg" %}' class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">{{i.name}}</h5>
                      <p class="card-text">Director: {{i.director}}</p>
                      <p class="card-text">Imdb Score: {{i.imdb_score}}</p>
                      <p class="card-text">Popularity: {{i.popularity}}</p>
                      <a href="{% url 'movie_update' i.id %}" class="btn btn-primary">Update</a>
                       <a href="{% url 'movie_delete' i.id %}" class="btn btn-primary">Delete</a>
                    </div>
                  </div>
                </div>

                 {% endfor %}
              </div>
            </div>






          </div>
        </div>
      </div>


{% elif request.user.is_authenticated %}
    Hello {{ user.username }}!
  <p><a href="{% url 'logout' %}">Log Out</a></p>
    <body>
{% load static %}
<!--        carousel indicators starts from here-->

    <div class="container">
        <div id="demo" class="carousel slide my-3" data-ride="carousel">
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1" ></li>
      <li data-target="#demo" data-slide-to="2" ></li>
    </ul>

          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="row">
                {% for i in movie %}
                <div class="col-xs-3 col-sm-3 col-md-3">
                  <div class="card" style="width: 18rem;">
                    <img src='{% static "img/test1.jpg" %}' class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">{{i.name}}</h5>
                      <p class="card-text">Director: {{i.director}}</p>
                      <p class="card-text">Imdb Score: {{i.imdb_score}}</p>
                      <p class="card-text">Popularity: {{i.popularity}}</p>
<!--                      <a href="{% url 'movie_update' i.id %}" class="btn btn-primary">Update</a>-->
<!--                       <a href="{% url 'movie_delete' i.id %}" class="btn btn-primary">Delete</a>-->
                    </div>
                  </div>
                </div>

                 {% endfor %}
              </div>
            </div>

          </div>
        </div>
      </div>

{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">Log In</a>
{% endif %}


 <style>
        .col-md-3 {
            display: inline-block;
            margin-left: -4px;
        }

        .col-md-3 {
            width: 100%;
            height: auto;
        }

        body .carousel-control-indicator li {
            background-color: blue;
        }

        body .carousel-control-prev-icon body .carousel-control-next-icon {
            background-color: blue;
        }

        body .no-padding {
            padding-left: 0;
            padding-right: 0;
        }

        .carousel-control-prev-icon {
            background: black no-repeat center center;

            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3e%3c/svg%3e");
        }

        .carousel-control-next-icon {
            background: black no-repeat center center;
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3e%3c/svg%3e");

        }
        body .carousel-indicators{
        bottom:0;
        }

        .carousel-indicators .active{
        background-color: blue;
        }



    </style>


</head>







{% endblock %}