<html>
<body>

<h2>Welcome to Login </h2>
<form action="">
    <h3>Login as a:</h3>
<input type="radio" id="admin" name="admin" value="admin">
<label for="admin">Admin</label>
<input type="radio" id="user" name="user" value="user">
<label for="user">User</label><br><br>

  <label for="useremail">Email:</label><br>
  <input type="email" id="useremail" name="useremail" value=""><br><br>
  <label for="password">Password:</label><br>
  <input type="password" id="password" name="password" value=""><br><br>
  <input type="submit" value="Submit">
</form>


</body>
</html>
